doctype html
html
  style
    include ../static/style.css
  body
    nav#navbar
      ul
        li
          a(href="/") Home
        li
          a(href="/") About Us
        li
          a(href="/") Services
        li
          a(href="/") Class Info
        li
          a(href="/") Contact Us
    section#picture
      p Welcome to Dance Academy
      p Become expertise in Rolling yourself with Us
 
    div(class="flex")
      div
       img(class="bg" src='https://images.unsplash.com/photo-1612628620459-e5dfe2d6f292?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRhbmNlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')
      div
        img(class="bg" src='https://images.unsplash.com/photo-1527186504227-0a47da29a0d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=503&q=80')
      div
        img(class="bg" src='https://images.unsplash.com/photo-1536294738309-2fc595e788fb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGFuY2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')

        
    footer#footer
    
      form(class="form" action="/index" method="post")
        h1 Contact 
        input(type="text", name="name" ,placeholder="Enter your name")
        input(type="email",name="email",placeholder="Enter your mail")
        input(type="number",name="age",placeholder="Enter you age")
        button(type="submit") submit
  script
    include ../static/index.js